@media (min-width: 1920px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    background-image: url(res/img/background1.png);
    width: 100%;
    height: 100%;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
  }

  /* hide arrows from input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* this one is for mozilla */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  /* input look */
  .input-look {
    padding: 0.45rem;
    width: 13rem;
    height: 2rem;
    font-size: 1.55rem;
    border-width: 0.15rem;
    border-color: #cccccc;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
  }

  .button-look {
    color: white;
    font-size: 1.25rem;
    font-family: inherit;
    padding: 0.6rem 3.75rem;
    margin: 0.65rem 0.65rem;
    cursor: pointer;
    text-align: center;
    border: #474747 0.1rem solid;
  }

  .human-img {
    position: absolute;
    width: 12rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* positioning of inputs*/
  .text-up {
    position: relative;
    bottom: 1%;
    font-size: 3rem;
    text-align: center;
  }

  .barrier-input,
  .armor-input,
  .hp-input,
  .damage-input,
  .resist-input,
  .heal-input,
  .mana-input {
    position: relative;
  }

  .barrier-container {
    position: absolute;
    right: 10%;
    top: 26%;
    transform: translate(-50%, -50%);
  }

  .armor-container {
    position: absolute;
    right: 10%;
    top: 39%;
    transform: translate(-50%, -50%);
  }

  .hp-container {
    position: absolute;
    right: 10%;
    top: 52%;
    transform: translate(-50%, -50%);
  }

  .mana-container {
    position: absolute;
    right: 10%;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  .damage-container {
    position: absolute;
    top: 33.5%;
    left: 21.8%;
    transform: translate(-50%, -50%);
  }

  .resist-container-damage {
    position: absolute;
    top: 46.5%;
    left: 21.8%;
    transform: translate(-50%, -50%);
  }

  .heal-container {
    position: absolute;
    top: 59.5%;
    left: 21.8%;
    transform: translate(-50%, -50%);
  }

  /* all those little squares on bottom */
  .additional-damage {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
  }

  /* burn damage */
  .burn-container {
    position: absolute;
    bottom: 2%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .burn-container-resist {
    position: absolute;
    bottom: 2%;
    left: 34.2%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  /* cold damage */
  .cold-container {
    position: absolute;
    bottom: 2%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .cold-container-resist {
    position: absolute;
    bottom: 2%;
    left: 44.2%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  /* poison damage */
  .poison-container {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .poison-container-resist {
    position: absolute;
    bottom: 2%;
    left: 54.2%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  /* bleed damage */
  .bleed-container {
    position: absolute;
    bottom: 2%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  .bleed-container-resist {
    position: absolute;
    bottom: 2%;
    left: 64.2%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  /* void damage */
  .void-container {
    position: absolute;
    bottom: 2%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .void-container-resist {
    position: absolute;
    bottom: 2%;
    left: 74.2%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .burn-container-resist.show,
  .cold-container-resist.show,
  .poison-container-resist.show,
  .bleed-container-resist.show,
  .void-container-resist.show {
    opacity: 1;
  }
  /* --------------------------------------------- */
  /* buttons that show up */
  .barier-button {
    position: absolute;
    top: 18%;
    left: 39.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(-45deg, #78d2af, #009f84, #45c65c, #01aebd, #ffee36);

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  .armor-button {
    position: absolute;
    top: 18%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(-45deg, #cacaca, #838383, #656565, #757575, #d2d2d2);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  .hp-button {
    position: absolute;
    top: 18%;
    left: 59.5%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(-45deg, #ff1b1b, #c70000, #ff2121, #b70000, #ff2121);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  .mana-button {
    background-color: rgb(163, 0, 0);
    position: absolute;
    top: 11%;
    left: 49.5%;
    width: 26rem;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(-45deg, #00e1ff, #0095c7, #2164ff, #0debff, #00b2fe);

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .reset-button-all {
    background-color: rgb(0, 0, 0);
    padding: 0.6rem 0.05rem;
    width: 13rem;
  }
  .reset-button-all-disclaimer {
    color: #a9a9a9;
    font-size: 0.7rem;
  }

  .reset-button-damage {
    background-color: rgb(0, 0, 0);
    padding: 0.6rem 0.05rem;
    width: 13rem;
    height: 2.5rem;
  }
  .reset-position {
    position: absolute;
    top: 9%;
    left: 6%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  /* list of all damages */
  .list-group-item {
    border-bottom: 0.1rem solid rgb(0, 0, 0);
    list-style: none;
    display: block;
    font-size: 1.2rem;
  }

  .list-group {
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 12rem;
    /* overflow hide if something is out of the box  */
    overflow: hidden;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .list-group.left {
    height: 20rem;
  }
  .list-group.right {
    height: 22.6rem;
  }

  .full-damage-list-div {
    top: 45.5%;
    left: 36%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .history-damage-list-div {
    top: 47.7%;
    left: 64%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  /* hide scrollbar but keep functionality */
  .list-group::-webkit-scrollbar {
    display: none;
  }

  .full-damage-text-up {
    font-size: 2rem;
    text-align: center;
    border-bottom: #646464 0.15rem solid;
  }

  .button-list-damage {
    background-color: #000000;
    position: absolute;
    width: 4.5rem;
    top: 10.6rem;
    left: -0.65rem;
    border: none;
    border-top: #646464 0.15rem solid;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* hide any overflow */
    text-overflow: ellipsis; /* add an ellipsis (...) to indicate truncated text */
    white-space: nowrap; /* prevent text from wrapping */
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .button-list-damage::-webkit-scrollbar {
    display: none;
  }

  .div-dice-roll {
    position: absolute;
    border: #000000 0.5rem solid;
    left: 50%;
    top: 42.3%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }

  .number-dice-roll {
    background-color: rgb(213, 113, 0);
    color: #000000;
    font-size: 10rem;
    height: 12rem;
    width: 17rem;
    padding: 0rem;
    margin: 0rem;
    text-align: center;
  }

  .input-look.trial {
    width: 16rem;
  }
}
