* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url(res/img/background1.png);
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/* hide arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* this one is for mozilla */
input[type='number'] {
  -moz-appearance: textfield;
}

/* input look */
.input-look {
  padding: 7px;
  width: 13rem;
  height: 2rem;
  font-size: 25px;
  border-width: 2px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 2px;
  box-shadow: 0px 0px 12px rgba(66, 66, 66, 0.61);
}

.button-look {
  color: white;
  font-size: 20px;
  font-family: inherit;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
  text-align: center;
}

.human-img {
  position: absolute;
  width: 12rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* positioning of inputs*/
.text-up {
  position: relative;
  bottom: 1%;
  font-size: 3rem;
  text-align: center;
}

.barrier-input,
.armor-input,
.hp-input,
.damage-input,
.resist-input {
  position: relative;
}

.barrier-container {
  position: absolute;
  right: 10%;
  top: 34%;
  transform: translate(-50%, -50%);
}

.armor-container {
  position: absolute;
  right: 10%;
  top: 47%;
  transform: translate(-50%, -50%);
}

.hp-container {
  position: absolute;
  right: 10%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.damage-container {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.resist-container-damage {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/* all those little squares on bottom */
.additional-damage {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  text-align: center;
}

/* burn damage */
.burn-container {
  position: absolute;
  bottom: 3%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.burn-container-resist {
  position: absolute;
  bottom: 3%;
  left: 34.2%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.burn-container-resist.show {
  opacity: 1;
}

/* cold damage */
.cold-container {
  position: absolute;
  bottom: 3%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* poison damage */
.poison-container {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* bleed damage */
.bleed-container {
  position: absolute;
  bottom: 3%;
  left: 60%;
  transform: translate(-50%, -50%);
}

/* void damage */
.void-container {
  position: absolute;
  bottom: 3%;
  left: 70%;
  transform: translate(-50%, -50%);
}
/* --------------------------------------------- */
/* buttons that show up */
.barier-button {
  position: absolute;
  top: 18%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #00003d;

  background-image: linear-gradient(-45deg, #78d2af, #009f84, #45c65c, #01aebd, #ffee36);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.armor-button {
  position: absolute;
  top: 18%;
  left: 49.4%;
  transform: translate(-50%, -50%);
  color: #00003d;

  background-image: linear-gradient(-45deg, #cacaca, #838383, #656565, #757575, #d2d2d2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hp-button {
  background-color: rgb(163, 0, 0);
  position: absolute;
  top: 18%;
  left: 58.8%;
  transform: translate(-50%, -50%);
  color: #00003d;

  background-image: linear-gradient(-45deg, #c50000, #8d0000, #720000, #910000, #cb0000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.reset-button-all {
  background-color: rgb(0, 0, 0);
  padding: 10px 0px;
  width: 13rem;
}
.reset-button-all-disclaimer {
  color: #a9a9a9;
  font-size: 0.7rem;
}

.reset-button-damage {
  background-color: rgb(0, 0, 0);
  padding: 10px 0px;
  width: 13rem;
  height: 2.5rem;
  position: absolute;
  top: 11%;
  left: 5.5%;
  transform: translate(-50%, -50%);
}

/* list of all damages */
.list-group-item {
  border-bottom: 1px solid rgb(0, 0, 0);
  list-style: none;
  display: block;
  font-size: 1.2rem;
}

.list-group {
  position: absolute;
  text-align: center;
  background-color: black;
  color: white;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  list-style: none;
  height: 22rem;
  width: 12rem;
  /* overflow hide if something is out of the box  */
  overflow: hidden;
  overflow: scroll;
}

/* hide scrollbar but keep functionality */
.list-group::-webkit-scrollbar {
  display: none;
}

.list-group {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.full-damage-text-up {
  font-size: 2rem;
  text-align: center;
  border-bottom: #646464 2px solid;
}

.button-list-damage {
  background-color: #000000;
  border: #ffffff 1px solid;
  position: absolute;
  right: 3.8%;
  top: 78%;
  width: 2.4rem;
}

.full-damage-list-div {
  top: 47%;
  left: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.history-damage-list-div {
  top: 47%;
  left: 64%;
  position: absolute;
  transform: translate(-50%, -50%);
}
